<div class="col-md-3">
    <div class="sidebar-widget category">
        <h2 class="title">Category</h2>
        <ul>
            <% for (let category of categories) { %>
                <li><a href="/restaurants?category=<%= category.Name %>"><%= category.Name %></a></li>
            <% } %>
        </ul>
    </div>
    
    <div class="sidebar-widget image">
        <h2 class="title">Featured Category</h2>
        <a href="/restaurants?category=Trà%20Sữa">
            <img src="/img/category-1.jpg" alt="Image">
        </a>
    </div>
</div>